/BGGallery/packages
/BGGallery/BGGallery/bin
/BGGallery/BGGallery/obj
/BGGallery/PicResource/bin
/BGGallery/PicResource/obj
/BGGallery/PicResource/.vs/PicResource.csproj.dtbcache.json
/BGGallery/BGGallery/.vs
/BGGallery/.vs
/BGGallery/.vs/BGGallery/v16/.suo
